.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-one-third {
  width: calc(100% / 3);
}

.column-one-third img {
  width: 100%;
  height: auto;
}

.column-one-third h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.column-one-fourth {
  width: calc(100% / 4);
}

.column-one-fourth img {
  width: 100%;
  height: auto;
}

.column-one-half {
  width: calc(100% / 2);
}

/* is there a way to change this width without these numbers so the width of all the contents match? */

.column-one-half img {
  max-width: 100%;
  height: auto;
}

.column-other-half {
  width: calc(100% / 2);
}

.column-other-half img {
  max-width: 100%;
  height: auto;
}
